

@font-face {
    font-family: "nbrb";
    src: url("/fonts/nbrb.woff2") format("woff2"),
        url("/fonts/nbrb.ttf") format("truetype"),
        url("/fonts/nbrb.woff") format("woff");
    unicode-range: U+E901, U+42, U+59, U+4E;
}
